<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="p-4">
    <h1>Meeting Bot</h1>
    <hr />
    
    <p>A meeting bot will be sent shortly.</p>
    
    <%- include('../partials/scripts'); %>
</body>
</html>
